// SPDX-License-Identifier: GPL-2.0
// Device Tree Source for Infinix Hot 60 Pro Plus (X6886) - Device Level

/dts-v1/;
#include "mt6789.dtsi"

/ {
    model = "Infinix Hot 60 Pro Plus (X6886)";
    compatible = "infinix,hot60proplus", "infinix,x6886", "mediatek,mt6789";

    chosen {
        bootargs = "console=tty0 root=/dev/ram0 androidboot.hardware=mt6789 androidboot.console=tty0";
    };

    reserved-memory {
        #address-cells = <2>;
        #size-cells = <2>;
        ranges;

        modem_mem: modem@43e00000 { reg = <0x0 0x43e00000 0x0 0x4c00000>; no-map; };
        tee_mem: tee@48a00000 { reg = <0x0 0x48a00000 0x0 0x2000000>; no-map; };
        scp_mem: scp@4aa00000 { reg = <0x0 0x4aa00000 0x0 0x2000000>; no-map; };
        gpu_mem: gpu@4ca00000 { reg = <0x0 0x4ca00000 0x0 0x1000000>; no-map; };
        svp_mem: svp@4da00000 { reg = <0x0 0x4da00000 0x0 0x2000000>; no-map; };
        fb_reserved: framebuffer@50000000 { reg = <0x0 0x50000000 0x0 0x800000>; no-map; };
        logo_reserved: logo@50800000 { reg = <0x0 0x50800000 0x0 0x200000>; no-map; };
    };

    gpio-keys {
        compatible = "gpio-keys";

        volume_up {
            label = "Volume Up";
            linux,code = <115>;
            gpios = <&pio 220 GPIO_ACTIVE_LOW>;
            debounce-interval = <50>;
            wakeup-source;
        };

        volume_down {
            label = "Volume Down";
            linux,code = <114>;
            gpios = <&pio 221 GPIO_ACTIVE_LOW>;
            debounce-interval = <50>;
            wakeup-source;
        };

        power {
            label = "Power";
            linux,code = <116>;
            gpios = <&pio 222 GPIO_ACTIVE_LOW>;
            debounce-interval = <50>;
            wakeup-source;
        };
    };

    leds {
        compatible = "gpio-leds";

        red {
            label = "red";
            gpios = <&pio 133 GPIO_ACTIVE_HIGH>;
            default-state = "off";
            max-brightness = <255>;
        };

        green {
            label = "green";
            gpios = <&pio 134 GPIO_ACTIVE_HIGH>;
            default-state = "off";
            max-brightness = <255>;
        };

        blue {
            label = "blue";
            gpios = <&pio 135 GPIO_ACTIVE_HIGH>;
            default-state = "off";
            max-brightness = <255>;
        };

        backlight {
            label = "backlight";
            gpios = <&pio 136 GPIO_ACTIVE_HIGH>;
            default-state = "on";
            max-brightness = <2047>;
        };
    };

    goodix_fp: goodix_fp {
        compatible = "goodix,gf9578";
        spi-max-frequency = <1000000>;
        reset-gpios = <&pio 96 GPIO_ACTIVE_HIGH>;
        irq-gpios = <&pio 97 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };

    nxp-nfc {
        compatible = "nxp,nfc";
        reset-gpios = <&pio 54 GPIO_ACTIVE_LOW>;
        irq-gpios = <&pio 55 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };
};

&pio {
    uart0_pins: uart0-default { pins-gpio { mux { function = "uart0"; pins = "txd0", "rxd0"; }; }; };
    i2c0_pins: i2c0-default { pins-gpio { mux { function = "i2c0"; pins = "sda0", "scl0"; }; }; };
    i2c1_pins: i2c1-default { pins-gpio { mux { function = "i2c1"; pins = "sda1", "scl1"; }; }; };
    spi0_pins: spi0-default { pins-gpio { mux { function = "spi0"; pins = "mosi0", "miso0", "sck0", "cs0"; }; }; };
    fp_pins: fp-pins { pins-gpio { mux { pins = "gpio96", "gpio97"; function = "gpio"; }; }; };
    nfc_pins: nfc-pins { pins-gpio { mux { pins = "gpio54", "gpio55"; function = "gpio"; }; }; };
    tp_pins: tp-pins { pins-gpio { mux { pins = "gpio230", "gpio231"; function = "gpio"; }; }; };
};

&uart0 { status = "okay"; pinctrl-names = "default"; pinctrl-0 = <&uart0_pins>; };

&i2c0 { status = "okay"; pinctrl-names = "default"; pinctrl-0 = <&i2c0_pins>; clock-frequency = <400000>; };

&i2c1 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&i2c1_pins>;
    clock-frequency = <400000>;

    focaltech@38 {
        compatible = "focaltech,fts";
        reg = <0x38>;
        interrupt-parent = <&pio>;
        interrupts = <230 IRQ_TYPE_EDGE_FALLING>;
        reset-gpios = <&pio 231 GPIO_ACTIVE_LOW>;
        focaltech,touch-max-x = <1224>;
        focaltech,touch-max-y = <2720>;
        focaltech,max-touch-number = <10>;
    };
};

&i2c2 { status = "okay"; pinctrl-names = "default"; pinctrl-0 = <&i2c2_pins>; clock-frequency = <400000>; };
&spi0 { status = "okay"; pinctrl-names = "default"; pinctrl-0 = <&spi0_pins>; spi-max-frequency = <52000000>; };
&display { status = "okay"; };
&afe { status = "okay"; };
&mali { status = "okay"; };
&ufs { status = "okay"; };
&wdt { status = "okay"; };
&rtc { status = "okay"; };
&topckgen { status = "okay"; };
&infracfg { status = "okay"; };
&apmixedsys { status = "okay"; };
&mtkpower { status = "okay"; };
&pmic { status = "okay"; };
&consys { status = "okay"; };
&scp { status = "okay"; };
&battery { status = "okay"; };
&charger { status = "okay"; };
&keys { status = "okay"; };
&pwm0 { status = "okay"; };
