# init.mt6789.rc - MT6789 Platform Init

on post-fs
    mkdir /data/vendor/batteryinfo 0770 system system

on boot
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/max_brightness
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/red/trigger
    chown system system /sys/class/leds/green/trigger
    chown system system /sys/class/leds/blue/trigger
    chmod 0664 /sys/class/leds/lcd-backlight/brightness
    chmod 0444 /sys/class/leds/lcd-backlight/max_brightness
    chmod 0660 /dev/i2c-0
    chmod 0660 /dev/i2c-1
    chmod 0660 /dev/i2c-2
    chmod 0660 /dev/i2c-3
    chown system system /dev/i2c-0
    chown system system /dev/i2c-1
    chown system system /dev/i2c-2
    chown system system /dev/i2c-3
    chmod 0660 /dev/spidev0.0
    chown system system /dev/spidev0.0
    chmod 0664 /sys/class/touch/touch_dev/enable
    chown system system /sys/class/touch/touch_dev/enable
    write /sys/devices/platform/11200000.usb/maximum_speed super-speed
    chown system system /sys/devices/platform/11200000.usb/maximum_speed
    chmod 0660 /dev/gps_channel
    chown system system /dev/gps_channel

on property:ro.vendor.hw.version=X6886
    setprop persist.vendor.radio.multisim.config dsds
    setprop persist.vendor.radio.apm_sim_not_pwdn 1
